.btn {
  border: 1px solid var(--color-btn-main);
  background-color: var(--color-btn-main);

  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  white-space: nowrap;
}



.save,
.submit,
.danger,
.address,
.cancel,
.login,
.create,
.find {
  width: 14rem;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: #20c997;
  border: 1px solid #20c997;
  opacity: 1;
  border-radius: 4px;
  margin-top: 8px;
  padding: 12px 16px;
  font-size: 0.9rem;
  font-weight: bold;
}


.cancel,
.create,
.find{
  color: #20c997;
  background-color: #fff;
}

.create{
  width: 100%;
}

.login{
  width: 8rem;
}

.danger {
  background-color: var(--color-btn-danger);
  border: none;
}

.address{
  width: 120px;
  border: none;
  background-color: #3680d4;
}

.comment_submit{
  background-color: #20c997;
  color: #fff;
  position: absolute;
  height: 100%;
  bottom: 0;
}