main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #ffffff;
  width: var(--length-width);
  height: 70vh;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 3px 3px 10px 0 var(--color-shadow);
}
