.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.btnWrap {
  display: flex;
  justify-content: right;
  gap: 10px;
}
.inputWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.important {
  font-size: 14px;
  color: rgb(69, 69, 69);
}

.address {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
}

.address_set{
  display: flex;
  align-items: center;
  gap: 10px;
}

.red,
.err {
  color: red;
}

.err{
  font-size: 14px;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-popup);
}

.profile{
  margin-top: 10px;
}