* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --length-width: 1100px;

  --color-background: rgb(244, 244, 211);
  --color-shadow: rgb(92, 92, 92);
}

body {
  background-color: var(--color-background);
}
