@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.turnOnOffWrap {
  position: absolute;
  bottom: 20px;
  left: 44%;
  background-color: rgba(46, 46, 46, 0.85);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 32px;
  line-height: 1.4;
  margin: 0 auto;
  padding: 12px 12px 12px 24px;
  border-radius: 7px;
  font-size: 16px;
  font-weight: bold;
  animation: fadeInUp 1s;
}



.exclamation {
  font-size: 21px;
  margin-right: 8px;
  color: #20c997;
}
