@font-face{
  font-family: "NotoSansKR";
  src: url("./NotoSansKR-Thin.ttf") format("ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face{
  font-family: "NotoSansKR";
  src: url("./NotoSansKR-ExtraLight.ttf") format("ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face{
  font-family: "NotoSansKR";
  src: url("./NotoSansKR-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face{
  font-family: "NotoSansKR";
  src: url("./NotoSansKR-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: "NotoSansKR";
  src: url("./NotoSansKR-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family: "NotoSansKR";
  src: url("./NotoSansKR-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face{
  font-family: "NotoSansKR";
  src: url("./NotoSansKR-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face{
  font-family: "NotoSansKR";
  src: url("./NotoSansKR-ExtraBold.ttf") format("ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face{
  font-family: "NotoSansKR";
  src: url("./NotoSansKR-Black.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
}